

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: 'Poppins',sans-serif;
}
.navbar h1{
    font-family: 'Merriweather',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    box-shadow: 20px 20px 20px black;
}
.navbar-links #LoginButton{
    display: flex;
    column-gap: 20px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}


.navbar-links p:hover{
    color:rgb(10, 7, 198);
    text-decoration: underline;
}
.navbar-links a:hover{
    color:rgb(10, 7, 198);
    text-decoration: underline;
}


.home
{
    height: 400px;
    padding: 20px;
    text-align: center;
}
.footer{
    margin-top: 20px;
    padding: 20px;
    background-color: powderblue;
    color:white;

}




/*Profile*/

.user-info #username-display{
    font-size: 20px;
    font-family: "Merriweather", serif;
    margin: 5px;
    margin-left: 0px; 
    padding :5px ;
    padding-left: 0px;
    font-weight: 900;
}



.profile-container {
    position: relative;
}

.profile-icon {
    cursor: pointer;
    padding: 2px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: fit-content;
    height: fit-content;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
}
.dropdown-menu.show {
    display: block;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-info {
    margin-left: 10px;
}

.username {
    font-weight: bold;
    margin: 0;
}

.premium-text {
    font-size: 12px;
    color: #ff9800;
    margin: 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.menu-items button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

.menu-items button:hover {
    background: #aedce7;
}

.menu-items span {
    margin-right: 10px;
    font-size: 16px;
}

tr:nth-child(odd) {
    background-color: rgba(244, 151, 57, 0.851);
  }
  
